<div class="js-loader col-xs-12 loader">
  <img src="loading.gif" class="center-block">
</div>
<ul id='dates-tabs' class="nav nav-tabs" data-tabs='tabs'>
</ul>
<div id="tab-content" class='tab-content'>
</div>
